name: CI

on: push

jobs:
  wasm-testsuite:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.10.0
      - uses: mwilliamson/setup-wabt-action@v2
        with:
          wabt-version: "1.0.31"
      - run: zig build test

  wasi-testsuite:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - name: Checkout bytebox
        uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.10.0

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: pip

      - name: Install dependencies
        working-directory: test/wasi/wasi-testsuite/test-runner
        run: python3 -m pip install -r requirements.txt

      - name: Run tests
        run: |
          zig build
          python3 test/wasi/wasi-testsuite/test-runner/wasi_test_runner.py -t ./test/wasi/wasi-testsuite/tests/rust/testsuite/ ./test/wasi/wasi-testsuite/tests/c/testsuite/ ./test/wasi/wasi-testsuite/tests/assemblyscript/testsuite/ -r ./test/wasi/bytebox_adapter.py
