name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        stack_kind: [tailcall, labeled_switch]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'

      - name: Setup Zig
        uses: mlugg/setup-zig@v1
        with:
          version: 0.15.0

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: pip

      - name: Install python dependencies
        working-directory: test/wasi/wasi-testsuite/test-runner
        run: python3 -m pip install -r requirements.txt

      # Ideally we would use this but it seems to be broken
      # - name: Setup wasm-tools
      #   uses: jcbhmr/setup-wasm-tools@v2
      #   with:
      #     wasm-tools-version: 1.207

      - name: Setup wasm-tools
        run: cargo install wasm-tools

      - name: Build
        run: |
          zig build -Dvm_kind=${{ matrix.stack_kind }}

      - name: Bench
        run: |
          zig build bench -Dvm_kind=${{ matrix.stack_kind }} -Doptimize=ReleaseFast

      - name: 32-bit builds
        if: runner.os == 'Linux'
        run: |
          zig build -Dvm_kind=${{ matrix.stack_kind }} -Dtarget=x86-windows-gnu
          zig build -Dvm_kind=${{ matrix.stack_kind }} -Dtarget=x86-linux-gnu
          zig build -Dvm_kind=${{ matrix.stack_kind }} -Dtarget=arm-linux-gnueabi

      - name: Aarch64 builds
        if: runner.os == 'Linux'
        run: |
          zig build -Dvm_kind=${{ matrix.stack_kind }} -Dtarget=aarch64-linux-musl

      - name: Run unit tests
        run: |
          zig build -Dvm_kind=${{ matrix.stack_kind }} test-unit
          zig build -Dvm_kind=${{ matrix.stack_kind }} -Dmeter=true test-unit

      - name: Run wasm testsuite
        run: |
          zig build -Dvm_kind=${{ matrix.stack_kind }} test-wasm -- --log-suite

      - name: Run mem64 test
        run: |
          zig build -Dvm_kind=${{ matrix.stack_kind }} test-mem64

      - name: Run wasi testsuite
        run: |
          zig build -Dvm_kind=${{ matrix.stack_kind }} test-wasi

      - name: Run cffi test
        run: |
          zig build -Dvm_kind=${{ matrix.stack_kind }} test-cffi
