name: CI

on: [push, pull_request]

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
    runs-on: ${{matrix.os}}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'

      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.11.0

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: pip

      - name: Install dependencies
        working-directory: test/wasi/wasi-testsuite/test-runner
        run: python3 -m pip install -r requirements.txt

      - uses: mwilliamson/setup-wabt-action@v2
        with:
          wabt-version: "1.0.31"

      - name: Build
        run: |
          zig build

      - name: Run unit tests
        run: |
          zig build test-unit

      - name: Run wasm testsuite
        run: |
          zig build test-wasm -- --log-suite

      - name: Run wasi testsuite
        run: |
          zig build test-wasi
